.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
out/
input.csv
genome.fasta
samplesheet_*.csv
log_exogap/
nextflow.sbatch
nextflow_myriapoda.config
run_earlgrey.sh
cache/
run_earlgrey.sh
bin/earlgrey.sh
modules/local/module_repeats/earlgrey.nf
dev/
erv_mchelper.fa erv_repeatmodeler.fa
.vscode/
work2
plots/
scripts/
