//Profile config names for nf-core/configs
params {
    config_profile_description = 'The EXOGAP profile'

}

singularity {
    enabled = true
    // runOptions = '-B /shared'
}


process {
    // resources for default process execution
    cpus = '1'
    time ='6h'

    // // publishDir
    // publishDir = [
    //     path: "${params.outdir}/${task.process}/${process.tag}",
    //     mode: "copy" ]

    stageInMode = 'copy'
    projectDir = "${projectDir}/process_output/${task.process}/${process.tag}"
    scratch = true
    
    // Process configurations with Conda environment and container definitions
    withLabel: 'agat' {
        conda = 'conf/envs/agat.yml'
        container = "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            'https://depot.galaxyproject.org/singularity/agat:0.9.0--pl5321hdfd78af_0':
            'quay.io/biocontainers/agat:1.2.0--pl5321hdfd78af_0' }"
    }

    withLabel: 'augustus' {
        conda = 'conf/envs/augustus.yml'
        container = "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            'https://depot.galaxyproject.org/singularity/augustus:3.5.0--pl5321h700735d_3':
            'quay.io/biocontainers/augustus:3.5.0--pl5321h700735d_3' }"
    }


    withLabel: 'barrnap' {
        conda = 'conf/envs/barrnap.yml'
        container = "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            'https://depot.galaxyproject.org/singularity/barrnap:0.9--hdfd78af_4':
            'quay.io/biocontainers/barrnap:0.9--hdfd78af_4' }"
    }

    withLabel: 'bedtools' {
        conda = 'conf/envs/bedtools.yml'
        container = "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            'https://depot.galaxyproject.org/singularity/bedtools:2.31.1--hf5e1c6e_1':
            'quay.io/biocontainers/bedtools:2.31.1--hf5e1c6e_1' }"
    }

    withLabel: 'bioawk' {
        conda = 'conf/envs/bioawk.yml'
        container = "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            'https://depot.galaxyproject.org/singularity/bioawk:1.0--he4a0461_9':
            'quay.io/biocontainers/bioawk:1.0--he4a0461_9' }"
    }

    withLabel: 'biopython' {
        conda = 'conf/envs/biopython.yml'
        container = "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            'https://depot.galaxyproject.org/singularity/biopython:1.75':
            'quay.io/biocontainers/biopython:1.75' }"
    }

    withLabel: 'blast' {
        conda = 'conf/envs/blast.yml'
        container = "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            'https://depot.galaxyproject.org/singularity/blast:2.15.0--pl5321h6f7f691_1  ':
            'quay.io/biocontainers/blast:2.15.0--pl5321h6f7f691_1  '}"
    }

    withLabel: 'busco' {
        conda = 'conf/envs/busco.yml'
        container = "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            'https://depot.galaxyproject.org/singularity/busco:5.3.0--pyhdfd78af_0':
            'quay.io/biocontainers/busco:5.5.0--pyhdfd78af_0'}"
    }

    withLabel: 'cd_hit' {
        conda = 'conf/envs/cd_hit.yml'
        container = "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            https://depot.galaxyproject.org/singularity/cd-hit:4.8.1--h5b5514e_7':
            'biocontainers/cd-hit:v4.6.8-2-deb_cv1' }"
    }

    withLabel: 'entrez_direct' {
        conda = 'conf/envs/entrez_direct.yml'
        container = "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            'docker://ncbi/edirect:12.5': '
            ncbi/edirect:12.5' }"
    }

    withLabel: 'fasta_validator' {
        conda = 'conf/envs/fasta_validator.yml'
        container = "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            'https://depot.galaxyproject.org/singularity/py_fasta_validator:0.5--py39hc16433a_3':
            'quay.io/biocontainers/py_fasta_validator:0.5--py39h7d875b9_0' }"
    }

    withLabel: 'infernal' {
        conda = 'conf/envs/infernal.yml'
        container = "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            'https://depot.galaxyproject.org/singularity/infernal:1.1.5--pl5321h031d066_0':
            'quay.io/biocontainers/infernal:1.1.5--pl5321h031d066_0' }"
    }

    withLabel: 'interproscan' {
        conda = 'conf/envs/interproscan.yml'
        container = "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            'https://depot.galaxyproject.org/singularity/interproscan:5.59_91.0--hec16e2b_1':
            'quay.io/biocontainers/interproscan:5.59_91.0--hec16e2b_1' }"
    }

    withLabel: 'maker' {
        conda = 'conf/envs/maker.yml'
        container = "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            'https://depot.galaxyproject.org/singularity/maker:3.01.03--pl5262h8f1cd36_2':
            'quay.io/biocontainers/maker:3.01.03--pl5262h8f1cd36_2' }"
    }

    withLabel: 'python_phylo' {
        conda = 'conf/envs/python-phylo.yml'
        container = "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            'docker://dorinemerlat/python-exogap:v1.02':
            'dorinemerlat/python-exogap:v1.02' }"
    }

    withLabel: 'r_base' {
        conda = 'conf/envs/r_ba.yml'
        container = "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            'docker://r-base:4.3.1':
            'r-base:4.3.1' }"
    }

    withLabel: 'repeatmasker' {
        conda = 'conf/envs/repeatmasker.yml'
        container = "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            'https://depot.galaxyproject.org/singularity/repeatmasker:4.1.5--pl5321hdfd78af_0':
            'quay.io/biocontainers/repeatmasker:4.1.5--pl5321hdfd78af_0' }"
    }

    withLabel: 'repeatmodeler' {
        conda = 'conf/envs/repeatmodeler.yml'
        container = "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            'https://depot.galaxyproject.org/singularity/repeatmodeler:2.0.3--pl5321h9ee0642_0':
            'quay.io/biocontainers/repeatmodeler:2.0.3--pl5321h9ee0642_0' }"
    }

    withLabel: 'snap' {
        conda = 'conf/envs/snap.yml'
        container = "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            'https://depot.galaxyproject.org/singularity/snap:2013_11_29--h031d066_6' :
            'biocontainers/snap:2013_11_29--h031d066_6' }"
    }

    withLabel: 'sratools' {
        conda = 'conf/envs/sratools.yml'
        container = "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
            'https://depot.galaxyproject.org/singularity/sra-tools:3.0.8--h9f5acd7_0' :
            'biocontainers/sra-tools:3.0.8--h9f5acd7_0' }"
    }

        withLabel: 'trinity' {
        conda = 'conf/envs/trinity.yml'
        container = "${ workflow.containerEngine == 'singularity' && !task.ext.singularity_pull_docker_container ?
        'https://depot.galaxyproject.org/singularity/trinity:2.13.2--h00214ad_1':
        'quay.io/biocontainers/trinity:2.13.2--h00214ad_1' }"
    }
}
