/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

// Define default process options for all modules here
process {
    scratch = true
    cpus = 1
    time = '6h'
    maxRetries = 2
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }

    storeDir = {
        (
            "${projectDir}/cache/" +
            "${task.process}".split(':')[-2..-1].join('/') + "/" +
            "${task.tag}"
                .replace('NFCORE_EXOGAP:EXOGAP:', '')
                .replace(':', '/')
        ).toLowerCase()
    }

    // publishDir = [
    //     path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
    //     mode: params.publish_dir_mode,
    //     saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    // ]

    // withName: SAMPLESHEET_CHECK {
    //     publishDir = [
    //         path: { "${params.outdir}/pipeline_info" },
    //         mode: params.publish_dir_mode,
    //         saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //     ]
    // }

    withLabel: 'bioawk' {
        // conda = 'conf/envs/bioawk.yml'
        container = 'quay.io/biocontainers/bioawk:1.0--he4a0461_9'
    }

    withLabel: 'braker' {
        // conda = 'conf/envs/busco.yml'
        container = 'docker://teambraker/braker3:v3.0.7.6'
    }

    withLabel: 'busco' {
        // conda = 'conf/envs/busco.yml'
        container = 'docker://ezlabgva/busco:v6.0.0_cv1'
    }

    withLabel: 'cdhit' {
        // conda = 'conf/envs/busco.yml'
        container = 'quay.io/biocontainers/cd-hit:4.8.1--h5ca1c30_13'
    }

    withLabel: 'exogap_tools' {
        // conda = 'conf/envs/entrez_direct.yml'
        container = 'docker://dorinemerlat/exogap_tools:v1.5'
    }

    withLabel: 'exogap_agat' {
        // conda = 'conf/envs/entrez_direct.yml'
        container = 'docker://dorinemerlat/exogap_agat:latest'
    }

    withLabel: 'mchelper' {
        // conda = 'conf/envs/entrez_direct.yml'
        container = 'docker://dorinemerlat/mchelper:v1.2'
    }

    withLabel: 'exogap_python' {
        // conda = 'conf/envs/entrez_direct.yml'
        container = 'docker://dorinemerlat/exogap_python:v1'
    }

    withLabel: 'interproscan' {
        // conda = 'conf/envs/interproscan.yml'
        container = 'quay.io/biocontainers/interproscan:5.59_91.0--hec16e2b_1'
    }

    withLabel: 'galba' {
        // conda = 'conf/envs/interproscan.yml'
        container = 'docker://katharinahoff/galba-notebook:v1.0.11.2'
    }


    withLabel: 'hmmer' {
        // conda = 'conf/envs/repeatmodeler.yml'
        container = 'quay.io/biocontainers/hmmer==3.4--hb6cb901_4'
    }

    withLabel: 'trnascan' {
        // conda = 'conf/envs/ncbi-blast.yml'
        container = 'quay.io/biocontainers/trnascan-se:2.0.12--pl5321h7b50bb2_2'
    }

    withLabel: 'python_phylo' {
        // conda = 'conf/envs/python-phylo.yml'
        container = 'docker://dorinemerlat/python-exogap:v1.02'
    }


    withLabel: 'r_base' {
        // conda = 'conf/envs/r_ba.yml'
        container = 'docker://dorinemerlat/exogap_r:v0.1'
    }


    withLabel: 'repeatmasker' {
        // conda = 'conf/envs/repeatmasker.yml'
        container = 'quay.io/biocontainers/repeatmasker:4.2.1--pl5321hdfd78af_0'
    }


    withLabel: 'repeatmodeler' {
        // conda = 'conf/envs/repeatmodeler.yml'
        container = 'quay.io/biocontainers/repeatmodeler:2.0.5--pl5321hdfd78af_0'
    }

    withLabel: 'rnammer' {
        // conda = 'conf/envs/repeatmodeler.yml'
        container = 'docker://tpaisie/rnammer:latest'
    }

    withLabel: 'infernal' {
        // conda = 'conf/envs/repeatmodeler.yml'
        container = 'quay.io/biocontainers/infernal:1.1.5--pl5321h7b50bb2_4'
    }


    withLabel: 'seqkit' {
        // conda = 'conf/envs/repeatmodeler.yml'
        container = 'quay.io/biocontainers/seqkit:2.8.2--h9ee0642_1'
    }

    withLabel: 'trinity' {
        // conda = 'conf/envs/trinity.yml'
        container = 'quay.io/biocontainers/trinity:2.13.2--h00214ad_1'
    }


    withLabel: 'quarto' {
        // conda = 'conf/envs/trinity.yml'
        container = 'docker://quarto2forge/rstudio:latest'
    }


    withLabel: 'retry_with_backoff' {
        errorStrategy = { sleep(Math.pow(2, task.attempt) * 200 as long); return 'retry' }
        maxRetries = 5
    }

    withLabel: 'varus' {
        // conda = 'conf/envs/trinity.yml'
        // container = 'docker://katharinahoff/varus-notebook:devel'
        container = 'docker://dorinemerlat/varus:v1.1'
    }
}
